#lupa{
    position: absolute;
    position:absolute;
    bottom:0;
    right:0;
}
.highlight{ background-color: green }

#divPostos {
margin:1rem;
min-width: 150px;
min-height: 150px;

}
.btn-group-xs > .btn, .btn-xs {
padding: .25rem .4rem;
font-size: .875rem;
line-height: .5;
border-radius: .2rem;
}
.custom-control-input:checked~.custom-control-label::before {
    color: white !important;
    background-color: green !important;
}
.modal-backdrop{
    opacity:0; transition:opacity .2s;
  }
  .modal-backdrop.in{
    opacity:.7;
  }