<div class="card" style="width: 100%;">
  <div class="card-header">
    <h2>Colaboradores Cadastrados
      <div align="">
        <button type="button" class="btn btn-outline-success btn-sm" value='inserir' (click)='cadastrarColaborador()'>Cadastrar Colaborador</button>&nbsp; 
         <button type="button" class="btn btn-outline-warning btn-sm" value='grafico' (click)='graficoMostrar()'>Grafico</button>&nbsp;
       <button type="button" class="btn btn-outline-success btn-sm" value='cadastrar_cargo' (click)='cadastrarCargo()'>Cadastrar Cargo</button>&nbsp;
     </div>
    </h2>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Empresa</th>
        <th scope="col">Setor</th>
        <th scope="col">Cargo</th>
        <th scope="col">Açoes</th>
      </tr>
    </thead>
    <tbody *ngFor="let colaborador of colaboradores" value='colaborador.codigo' name="colaborador">
      <tr>
        <th scope="row">{{ colaborador.nome }}</th>
        <td>{{ colaborador.email }}</td>
        <td>{{ colaborador.telefone }}</td>
        <td>{{ colaborador.empresa }}</td> 
        <td>{{ colaborador.setor }}</td> 
        <td>{{ colaborador.descricao }}

        </td>
        <td> 
          <a [routerLink]="['editar']" [queryParams]="{ idcolaborador: colaborador.codigo }"><button type='button' class='btn btn-outline-warning btn-sm' value='editar'>Editar</button></a>&nbsp; &nbsp; 
          <button type='button' class='btn btn-outline-danger btn-sm' value='Remover' (click)='removerColaborador(colaborador.codigo)'>Remover</button> 
         </td>
    </tbody>
  </table>
</div>



