
<div class="container" style="width: 100%;">
  <div class="card-header">
        Cadastro de Colaboradores
  </div>
  <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <div class="form-group">
      <label for="nome">Nome do Colaborador</label>
      <input type="text" class="form-control" id="nome" name="nome" ngModel placeholder="Digite seu Nome...">   
    </div>
  
    <div class="form-group">
    <label for="email">Email:</label><br>
      <input type="text" class="form-control" id="email" name="email" ngModel placeholder="email@email.com">
    </div>
  
      
    <div class="form-group">
    <label for="telefone">Telefone:</label><br>
      <input type="text" class="form-control" id="telefone" name="telefone" ngModel placeholder="telefone">
    </div>
  
      
    <div class="form-group">
    <label for="empresa">Empresa:</label><br>
      <input type="text" class="form-control" id="empresa" name="empresa" ngModel placeholder="Empresa">
    </div>
  
      
    <div class="form-group">
    <label for="cargo">Cargo:</label><br>
    <select id="id_cargo" name="id_cargo" ngModel class="custom-select">
            <option value="1">Programador</option>
            <option value="2">Analista</option>
        </select><br>
    </div>
      
    <div class="form-group">
    <label for="email">Setor:</label><br>
      <input type="text" class="form-control" id="setor" name="setor" ngModel placeholder="Setor">
    </div>
  
    <button type="submit" class="btn btn-outline-success"  value="salvar" id="salvar">salvar</button>
    <button type="button" class="btn btn-outline-warning"  onclick="window.history.go(-1); return false;"  type="submit" value="voltar">Voltar</button>
  </form>
</div>



