<style>
  .alignleft {
    float: left;
  }
</style>

<br>
<div class="container-full">
  <div class="card bg-light">
    <div class="card-header"><br><br>
      <h1 class="alignleft" style="color:#317eac;">PRODUTO</h1> &nbsp;<h5 style="color:#999999">( {{ linh }} )</h5>
      <div class="" style="float:right; margin-top:-50px">

        <form action="" id="form-desassociar-linha" style='float: left; padding: 5px;'>

        </form>
        <form action="m" id="form-menu-config-produto" style='float: left; padding: 5px;'>


        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6 ">
        <div class="card bg-light h-100">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <a routerLink="/associar-produto-a-linha" class="btn btn-block btn-primary" style="color:white">
              <i class="fab fa-product-hunt"></i> Produto
            </a>

          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card  bg-light">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <button type="button" class="btn btn-block btn-primary" (click)="escolherProdutoFinalizarColaborador()"> <i class="fa fa-user-times"></i> Finalizar Colaborador</button>  
           </div>
        </div>
      </div>
      <br>
      <div class="col-sm-6">
        <div class="card  bg-light">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <a routerLink="/escolher-produto/treinar-colaborador" class="btn btn-block btn-primary">
              <i class="fa fa-user"></i> Treinar Colaborador
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card  bg-light">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <button type="button" class="btn btn-block btn-primary" (click)="treinamentoLider()"> <i class="fa fa-users"></i> Treinamento Líder</button>         

          </div>
        </div>
      </div>
    </div>





    <br>

  </div> <!-- fecha a row -->




</div>



<form action="escolherProdutoParaTreinarLider.php" id="form-escolherProdutoParaTreinarLider"></form>