<div class="container-full">
    <div class="card bg-light">
        <div class="card-header">
            <br>
            <div class="col-md-12">

            </div>

            <div class="col-md-12">
                <h2 style="font-size:30px; color:#434343; text-align:center;"> Selecione sua atividades </h2>

            </div>
            <div class="" style="float:right; margin-top:-50px">


            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3 py-2" *ngFor="let tipo of tipos;" value='tipo.codigo'
                (click)="getTipo(tipo.codigo)">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title" style="color:#ffffff;  text-align: center;">{{tipo.nome}}</h4>


                    </div>
                </div>
            </div>


        </div>




    </div> <!-- fecha a row -->




</div>