<style>
    p {
        text-align: center;
    }

    h4 {
        text-align: center;
    }
</style>
<div class="container-full">
    <div class="card bg-light">
        <div class="card-header"><br><br>
            <div class="" style="float:right; margin-top:-50px">


            </div>
        </div>
        <br>
        <div class="row" style=" padding: 25px 50px; ">
            <div class="col-sm-6 col-lg-3 py-2" *ngFor="let tipo of tipos;" value='tipo.codigo'
                (click)="getTipoPosto(tipo.codigo)">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title" style="color:#ffffff;">{{ tipo.nome }}</h4>
                        <p class="card-text text-white">{{ tipo.tipo }}</p>
                    </div>
                </div>
            </div>

        </div>



    </div> <!-- fecha a row -->

    <div class="row container-fluid">
        <!-- abre a row -->


    </div>


</div>



<form action="" method="post" id="form-atividade_posto_trabalho">
    <input type="hidden" id="produtoHidden" name="produto" value="">
    <input type="hidden" id="qtdHidden" name="qtd" value="">
    <input type="hidden" id="linhaHidden" name="linha" value="">
</form>